@import url(../src/vendor/fonts.css);

body{
  font-family: Arial, Helvetica, sans-serif;
}

li {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: lightgrey 1px solid;
  padding: 5px;
  box-sizing: border-box;
}

li:last-child{
  border: none;
}

.calculator__button {
  color: white;
  border-radius: 10px;
  background: none;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  font-size: 35px;
  font-weight: 200;
  cursor: pointer;
  transition: 1ms ease-in-out;
  border: 2px solid white;
}

.calculator__bg {
  background: rgb(145, 0, 255);
  background: linear-gradient(
    54deg,
    rgba(145, 0, 255, 1) 0%,
    rgba(69, 58, 225, 1) 50%,
    rgba(45, 126, 253, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  height: 100vh;
}

.calculator__main {
  max-width: 800px;
  height: 820px;
  margin: auto;
  border-radius: 20px;
  padding: 50px 60px;
  border: 2px solid white;
}

#calculator__screen {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background: none;
  color: white;
  border: none;
  margin: auto;
  border: 2px solid white;
  font-size: 34px;
  outline: none;
  cursor: default;
  box-sizing: border-box;
}

::placeholder{
  opacity: 100%;
  color: white;
}

.calculator__history-container{
  position: relative;
  width: 100%;
}

.calculator__history {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  border-radius: 10px;
  padding: 0px;
  transition: all 1s ease;
}

.calculator__history_shown {
  visibility: visible;
  opacity: 1;
}

.calculator__buttons {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: max-content;
  row-gap: 1px;
}

.calculator__footer{
  display: flex;
  justify-content: space-between;
  max-width: 924px;
  margin: auto;
}

.calculator__footer__text{
  font-size: 20px;
  color: white;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  display: inline-block;
  padding: 0 0 0 0px;
  background: transparent url('./dropdown__icon.svg') center no-repeat;
  height: 40px;
  width: 40px;
  background-size: 50%;
  transition: .2s ease-in-out;
}

input[type='checkbox']:checked + label {
 transform: rotate(180deg);
}

.calculator__button:active{
  background-color: white;
  color: black;
}

@keyframes slideDown {
  from {
    height: 0px
  }
  to {
    height: 100%
  }
}

@keyframes slideUp {
  from {
    height: 100%
  }
  to {
    height: 0px
  }
}